body {
    font-family: "Rajdhani", sans-serif;
  }
  
  a {
    color: black;
  } /* Unvisited link  */
  a:visited {
    color: black;
  } /* Visited link    */
  a:hover {
    color: rgb(0, 102, 128);
  } /* Mouse over link */
  a:active {
    color: rgb(104, 94, 40);
  } /* Selected link   */
  
  .header-text {
    text-align: left;
    text-decoration: bold;
  }
  
  #add-your-own-header {
    margin-bottom: 5px;
    text-decoration: underline;
    font-weight: bold;
    text-align: left;
  }
  #show-hide-button {
    margin: auto;
  }
  
  #show-hide-button:hover {
    background-color: rgb(0, 102, 128);
    color: white;
  }
  
  #show-hide-button:active {
    background-color: black;
    color: white;
    border-style: solid;
  }
  
  #my-bookshelf-header {
    text-decoration: underline;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0px;
  }
  
  input {
    display: inline;
    align-items: center;
  }
  #input-book {
    padding: 10px 20px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  button {
    margin-left: 10px;
  }
  